[user]
	email = me@cedric.app
	name = cedliang
[alias]
	branch-prune = !git fetch -p && git branch --v | grep \"\\[gone\\]\" | awk '{print $1}' | xargs git branch -D
    log-remote-diff = "!( export ORIGINHEAD=`git rev-parse origin/HEAD`; git log --graph --abbrev-commit --decorate --date=relative $ORIGINHEAD HEAD `git merge-base HEAD $ORIGINHEAD`^! )"
	reset-remote-head = !git fetch --all && git reset --hard `git remote-branch-ref`
[core]
	editor = micro
	pager = bat -l=\"Git Log\" --style=\"grid\"
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
